---
import BaseLayout from '../layouts/baseLayout.astro';
import ProjectItem from '../components/projectItem.astro';
const imageUrl = '../public/img_4-6_23-26-31.jpg';
---

<BaseLayout>

		<h1 class="text-3xl font-bold ">
			Hello Charles!
		  </h1>
		  <ProjectItem link="https://www.google.com" image={imageUrl} />
</BaseLayout>

