---
import BaseLayout from '../layouts/baseLayout.astro';
import ProjectItem from '../components/projectItem.astro';

const data = [
	{
		link: 'https://www.google.com',
		image: '../src/images/test.jpg',
	},
	{
		link: 'https://www.google.com',
		image: '../src/images/test.jpg',
	},
]


---

<BaseLayout>
		<h1 class="text-3xl font-bold ">
			Hello Charles!
		  </h1>
		  {data.map(({ link, image }) => ( <ProjectItem key={link} link={link} image={image} /> ))}
</BaseLayout>

