---
import styles from "./projectItem.module.css";
// import { Image } from '@astrojs/image/components';
const { link, image } = Astro.props;
---

<div class={styles.projectItem}>
    
<a href={link}>
<h1>hello React</h1>
        <img class=" rounded-xl" src={image} alt="project image" width={1000}></img>
    </a>

</div>

